{% assign header = site.data.header %}

{% comment %} 

Added this header-type idea to make the homepage different than other pages on design.chicago.gov
Jason Kunesh 9/2019

{% endcomment %}

{% assign header-type = header.type %}
{% if page.header %}
  {% assign header-type = page.header %}
{% endif %}

{% if header.usa_banner %}
  {% include components/banner.html %}
{% endif %}

{% if header-type == 'basic' %}
  {% include components/header--basic.html %}
{% elsif header-type == 'basic-mega' %}
  {% include components/header--basic-mega-menu.html %}
{% elsif header-type == 'extended' %}
  {% include components/header--extended.html %}
{% elsif header-type == 'extended-mega' %}
  {% include components/header--extended-mega-menu.html %}
{% elsif header-type == 'splash' %}
  {% include components/header--splash.html %}
{% endif %}
