<h2 id="typography">Typography</h2>

<h3 id="big-shoulders">Big Shoulders</h3>

<p><img src="/assets/img/big-shoulder-splash.png" alt="A Picture of Big Shoulders Typeface set in different faces with Chicago Stars" /></p>

<p>Big Shoulders is the Municipal Typeface for the City of Chicago. It is for use in headings, titles, banners, and posters. Setting type in all capitals is recommended.</p>

<p>Big Shoulders Display is for large format, environmental prints: signage, billboards, banners, etc. Big Shoulders Text is for all other display purposes.</p>

<p><a href="https://fonts.google.com/?query=big+shoulders">Download Big Shoulders from Google Fonts</a></p>

<p>To put a Chicago Star in your typesetting, turn on discretionary ligatures in your app or CSS, and then type CHISTAR (in all caps). It’ll automatically replace with the star, sized correctly to fit the text.</p>

<p>If your app has a glyphs palette showing all the characters in your typeface, you can also choose the star from there.</p>

<p>Now, you can make ASCII art, or get tatooed with exactly the right Chicago Star.</p>
<p>=======</p>
<p class="chistar">CHISTAR CHISTAR CHISTAR CHISTAR</p>
<p>=======</p>

<p><a href="https://fonts.google.com/specimen/Roboto">Roboto</a> and <a href="https://fonts.google.com/specimen/Lora">Lora</a> are the City’s sans serif and serif body typefaces.</p>

## Typography


### Big Shoulders

![A Picture of Big Shoulders Typeface](/assets/img/BigShoulders_Type.png)

Big Shoulders is the Municipal Typeface for the City of Chicago. It is for use in headings, titles, banners, and posters. Setting type in all capitals is recommended.

Big Shoulders Display is for large format, environmental prints: signage, billboards, banners, etc. Big Shoulders Text is for all other display purposes.

[Roboto](https://fonts.google.com/specimen/Roboto) and [Lora](https://fonts.google.com/specimen/Lora) are the City's sans serif and serif body typefaces.

The next level up is to install the fonts on your own computer. The latest version will always be available on [Google Fonts](https://fonts.google.com/).

[Download Big Shoulders from Google Fonts](https://fonts.google.com/?query=big+shoulders)

To put a Chicago Star in your typesetting, turn on discretionary ligatures in your app or CSS, and then type CHISTAR (in all caps). It’ll automatically replace with the star, sized correctly to fit the text.

![](/assets/img/CHISTAR-1.png)
_Ligatures off, CHISTAR._

![](/assets/img/CHISTAR-2.png)
_Ligatures on, our Chicago Star!_

[Here is an example file in Figma](https://www.figma.com/c/file/777299502625879332).
