
<h2 id="our-municipal-typeface">Our municipal typeface</h2>

<p><img src="/assets/img/BigShoulders_Type.png" alt="A Picture of Big Shoulders Typeface" /></p>

<p>Big Shoulders is the Municipal Typeface for the City of Chicago. It is for use in headings, titles, banners, and posters. Setting type in all capitals is recommended.</p>

<p>Big Shoulders Display is for large format, environmental prints: signage, billboards, banners, etc. Big Shoulders Text is for all other display purposes.</p>

<p><a href="https://fonts.google.com/specimen/Roboto">Roboto</a> and <a href="https://fonts.google.com/specimen/Lora">Lora</a> are the City’s sans serif and serif body typefaces.</p>

<p>The next level up is to install the fonts on your own computer. The latest version will always be available on <a href="https://fonts.google.com/">Google Fonts</a>.</p>

<h2 id="resources">Resources</h2>

<ul>
  <li>Get <a href="https://fonts.google.com/specimen/Big+Shoulders+Display">Big Shoulders Display</a> for large format, environmental prints: signage, billboards, banners, etc.</li>
  <li>Get <a href="https://fonts.google.com/specimen/Big+Shoulders+Text">Big Shoulders Text</a> for all other display purposes.</li>
  <li>Get <a href="https://fonts.google.com/specimen/Roboto">Roboto</a> and <a href="https://fonts.google.com/specimen/Lora">Lora</a>, the City’s sans serif and serif body typefaces.</li>
</ul>

<p>To put a Chicago Star in your typesetting, turn on discretionary ligatures in your app or CSS, and then type CHISTAR (in all caps). It’ll automatically replace with the star, sized correctly to fit the text.</p>

<p>Now, you can make ASCII art, or get tatooed with exactly the right Chicago Star.</p>
<p>=======</p>
<p class="chistar">CHISTAR CHISTAR CHISTAR CHISTAR</p>
<p>=======</p>

<p>If that didn’t work, these images show the difference betweeen turning ligatures on and off. In this case, in Figma.</p>

<p><img src="/assets/img/CHISTAR-1.png" alt="" />
<em>Ligatures off, CHISTAR.</em></p>

<p><img src="/assets/img/CHISTAR-2.png" alt="" />
<em>Ligatures on, our Chicago Star!</em></p>

<p><a href="https://www.figma.com/c/file/777299502625879332">Here is an example Figma file</a>. 
Note: you cannot turn on ligatures in Google Docs. :(</p>