$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 690px,
  xl: 720px
) !default;

// Color System
//   Put Colors Here:
$site-light-gray: #E8E8E8 !default;
$site-dark-gray: #BBBBBB !default;
$seal-blue: #2C5491 !default;
$off-white: #fdfdfd !default;

$text-black: #111 !default;
$link-blue: #2a7ae2 !default;

//Page Styling
$site-background-color: $off-white !default;
$header-color: #F2F2F2 !default;
$footer-color: $site-dark-gray !default;
$page-link-color: $seal-blue !default;

//Font System
$h1-font-hierarchy: 'Montserrat', sans-serif !default;
$h2-font-hierarchy: 'Montserrat', sans-serif !default;
$h3-font-hierarchy: 'Montserrat', sans-serif !default;

$h1-font-color: $seal-blue !default;
$h2-font-color: $seal-blue !default;
$h3-font-color: $text-black !default;
$body-font-color: $text-black !default;