{% comment %} 

This is a new header that only exists in the Chicago Design System.
Jason Kunesh 9/2019

It puts most of itself in the footer.

{% endcomment %}
<div class="usa-grid">
  <div class="usa-width-one-whole">
    <div id="public-mark">
      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
        <a href="">
          <img src="/assets/img/chicago.gov-logo.png" alt="The public mark of the City of Chicago">
          <h1 class="usa-header-title">CHICAGO</h1>
        </a>
      </div>
    </div>
  </div>
</div>
