<html>
    <body>
        <div class="cds-warning">
            <p>
                This website is not actively maintained. Some links may be outdated or redirect incorrectly—please verify
                before clicking.
            </p>
            <p>
                The design and branding guidance itself remains the most accurate source for City use. Updates are in
                progress.
            </p>
        </div>

        <style>
            .cds-warning {
                margin: auto;
                padding: 1rem 1.5rem;
                box-sizing: border-box;
                background-color: #fff1d2;
                color: #846010;
                text-align: center;
            }

            .cds-warning p {
                margin: 0;
            }
        </style>

        {{content}}
        
    </body>
</html>